@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --dark : #1e293b ;
    --light : #f1f5f9aa ; 
    --border : #e2e8f0 ;
    --border-btn : #94a3b8;
}
body { 
	display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
a{
    text-decoration: none;
}
#header nav{
    background: rgb(134,239,172);
    background: linear-gradient(90deg, rgba(134,239,172,1) 0%, rgba(20,184,166,1) 100%);     padding: 1em 0;
    width: 100vw;
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    
}
.text-dark{
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 2px;
}
#site-main{
    margin-top: 6rem;
    
}
#site-main .container .box-nav >a{ 
    font-size: 1em;
    padding: .5em 1em;
    color: var(--dark);
    border: 1px solid var(--border-btn) ;
    border-radius: 5px;
    text-transform: capitalize;


}

#site-main form{
    margin: 2rem 0;
}
table{
    border-spacing: 0px;
    width: 100%;
}
table td  , table th{
    padding: 1.3em 2em;
    vertical-align: top;
    text-align: center;

}
table td{
    border-bottom: 2px solid var(--border);

}
table td > a{
    font-size: 1.1em;
    padding: 0 .5em;
}
table td > a:first-child{
    color: #fde047;
}
table td > a:nth-child(2){
    color: red;
}
tbody tr:hover{
    background: var(--light);
    cursor: pointer;
}


/********FORMS**********/
.back{
    margin: 2rem;
    width: 44%;

}
.back >a{
    color: #1e293b;
    font-size: 1.1em;
}

.form-container .title{
    margin-bottom: 0.3em;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    color: var(--dark);
}
.label{
    opacity: 0.6;
    margin-bottom: 1.5em;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input{
    margin: 0.5em 0;
}

input[type="text"],input[type="email"]{
    border: 2px solid #c6d0dec1;
    outline: 0;
    width: 600px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.1em;
    color: var(--dark);
}
label{
    padding: 0 5px;
    color: #1e293b;
    font-size: 1.1em;
    text-transform: capitalize;
}

input[type="radio"]{
 font-size: 1.1em;
 accent-color : rgb(122, 122, 122);
 height: 17px;
 width: 17px;
 margin-right: 5px;
 
}
.radio{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 20px;
    align-items: center;
}


.submit{
    margin: 1em 0;
    color: #fff;
    background:#10b981;
    font-size: 1.3em;
    text-align: center;
    padding: 10px 5px;
    border-radius: 7px;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
