<%- include('include/_header.ejs') %>
    
    
    <div class="back"> </span><a  href="/"> <i class="fas fa-angle-double-left"></i> users</a>
    </div>
    <div class="form-container">
        <div class="title">new user </div>
        <div class="label">use the below form to create a new user</div>
        <%- include('include/form.ejs') %> 
    </div>

     
    <%- include('include/_footer.ejs') %>
   