<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="logo">
            <img src="img/bluelogo_1_-removebg-preview(1).png" alt="">
        </div>
        <div class="brand">DOCKLIN</div>
        <div class="text">log in to admin dashboard </div>
        <div class="msg">enter your email and password bellow</div>
        <form action="" id="login-form">
            <!--email-->
           <div class="row">
            <label for="">email</label>
            <input type="email" id="email" name="email" placeholder="email adress" value="">
           </div>
           <!--password-->
           <div class="row">
            <label for="">
                <span>password</span>
                <!-- <span><a href="">Forget password</a></span> -->
            </label>
            <input type="password" id="pwd" name="pwd" placeholder="password" value="">
           </div>
           <!--button-->
           <button id="login" type="submit" >log in</button>

        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="js/login.js"></script>ù -->
    <script>
            
        function pageRedirect(){
            window.location.href = "http://localhost:3000/home"
        }
        const btn = document.getElementById('login')
        const form = document.getElementById('login-form')
        const data = new FormData(form)
        btn.addEventListener('click' , (e)=>{
            const email = document.getElementById('email').value
            const pwd = document.getElementById('pwd').value
            if(email === 'admin@gmail.com' && pwd === 'admin' ){
                e.preventDefault()
                pageRedirect()
            }else{
                e.preventDefault()
                console.log("pwd or email not valid");
            }
        })

    </script>
</body>
</html>