<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="logo">
            <img src="../assets/img/bluelogo_1_-removebg-preview(1).png" alt="">
        </div>
        <div class="brand">DOCKLIN</div>
        <div class="text">log in to admin dashboard </div>
        <div class="msg">enter your email and password bellow</div>
        <form action="">
            <!--email-->
           <div class="row">
            <label for="">email</label>
            <input type="email" placeholder="email adress">
           </div>
           <!--password-->
           <div class="row">
            <label for="">
                <span>password</span>
                <!-- <span><a href="">Forget password</a></span> -->
            </label>
            <input type="password" placeholder="password">
           </div>
           <!--button-->
           <button type="submit">log in</button>

        </form>
    </div>

</body>
</html>