<form action="/api/users" method="POST" id="form">
    <label for="">name</label>
         
        <input type="text" name="name"  placeholder="kylie smith">
     <br>
    <label for="">email</label>
         
        <input type="email" name="email"  placeholder="example@gmail.com">
     <br>
          <!--gender-->
    <label class="radio" for="">
        <span>Gender</span>
        <span><input type="radio" name="gender" value="male" id=""> male</span>
        <span><input type="radio" name="gender" value="female" id=""> female</span>

    </label> <br>
     <!--status-->
    <label class="radio" for=""> <span>status </span>
        <span><input type="radio" name="status" value="active" id=""> active</span>
        <span><input type="radio" name="status" value="inactive" id=""> inactive </span>

    </label> <br>
    <button class="submit" type="submit">Submit <i class="fa-solid fa-arrow-right"></i></button>
</form>